.icon {
    height: 7em;
    padding: 1.5em;
    will-change: filter;
    transition:
      filter 300ms,
      transform 300ms;
  }

  /* @keyframes grow-shrink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    } */
/* } */
  
  .icon.mic:hover {
    filter: drop-shadow(0 0 0.7em var(--maya-blue));
    transform: scale(1.2);
    cursor: pointer;
  }
  
  #below-mic-text {
    margin-top: 0.5em;
    font-style: italic;
    cursor: default;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:
      opacity 1s,
      display 2s;
  
    transition-behavior: allow-discrete;
    @starting-style {
      opacity: 1;
    }
  }

  .background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: background-color 2s;
    transition-behavior: allow-discrete;
    @starting-style {
      background-color: var(--oxford-blue);
    }
  }
  
  div.hidden {
    display: none;
    opacity: 0;
  }

  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    transition:
      opacity 1s,
      display 2s;
  
    transition-behavior: allow-discrete;
    @starting-style {
      opacity: 1;
    }
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }